
* {
    background-color: yellow;
    box-sizing: border-box;
}

.heading {
    text-align: center;
    font-size: xx-large;
}

.writing {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.list,
.index {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva, Verdana, sans-serif';
}

.list {
    border: 2px solid red;
}

.list-group {
    text-align: center;
}

.index {
    font-size: xx-large;
    
}

.image {
    text-align: center;
}

.element {
    padding: 0px;
}
